/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Rubik', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

*{
  margin: 0;
  padding: 0;
}

/* BODY */
  body{
    font-family: 'Open Sans', sans-serif;
  }

  body.stopScroll{
    overflow: hidden;
  }

/* TOPO */
  .topo{
    -webkit-box-shadow: 0px 0 19px -6px #000;
    box-shadow: 0px 0 19px -6px #000;
  }
    .topo .menu-contato{
      background-color: #9c9c9e;
      padding: 5px 0;
    }
      .topo .menu-contato .contato{
        margin: 0;
      }
        .topo .menu-contato .contato li{
          font-family: 'Open Sans', sans-serif;
          color: #fff;
          font-weight: 600;
          padding-left: 24px;
        }
        .topo .menu-contato .contato .fone{
          display: inline-block;
          position: relative;
        }
        .topo .menu-contato .contato .fone::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0px;
          width: 20px;
          height: 20px;
          display: block;
          background-image: url(../img/phone.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 15px;
        }
        .topo .menu-contato .contato .email{
          display: inline-block;
          position: relative;
          padding-left: 36px;
        }
        .topo .menu-contato .contato .email::before{
          content: '';
          position: absolute;
          top: 0px;
          left: 15px;
          width: 20px;
          height: 20px;
          display: block;
          background-image: url(../img/message.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 16px 12px;
        }
      .topo .menu-contato .rede-social{
        text-align: right;
        margin: 0;
      }
        .topo .menu-contato .rede-social li{
          display: inline-block;
          list-style: none;
        }
          .topo .menu-contato .rede-social li a{
            color: #fff;
            text-decoration: none;
            padding-right: 4px;
            font-size: 16px;
          }
            .topo .menu-contato .rede-social li a i{
              -webkit-transition: ease-in-out .1s;
              -o-transition: ease-in-out .1s;
              transition: ease-in-out .1s;
            }
            .topo .menu-contato .rede-social li a i:hover{
              -webkit-transform: scale(1.3);
              -ms-transform: scale(1.3);
              -o-transform: scale(1.3);
              transform: scale(1.3);
            }
  .topo .menu-principal{
    padding: 20px 0;
  }
    .topo .menu-principal a{

    }
      .topo .menu-principal a img{
        width: 100%;
        max-width: 250px;
        display: initial;
        -webkit-transition: ease-in-out .1s;
        -o-transition: ease-in-out .1s;
        transition: ease-in-out .1s;
      }
      .topo .menu-principal a img:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }
    .topo .menu-principal .navbar{
      margin: 0;
      min-height: initial;
    }
      .topo .menu-principal .navbar button{
        display: none;
      }
        .topo .menu-principal .navbar button span{
          background-color: #000;
        }
      .topo .menu-principal .navbar .navbar-collapse{

      }
        .topo .menu-principal .navbar .navbar-collapse .nav{
          text-align: right;
          float: initial;
          padding: 18px 0;
        }
          .topo .menu-principal .navbar .navbar-collapse .nav li{
            float: initial;
            display: inline-block;
            position: relative;
          }
          .topo .menu-principal .navbar .navbar-collapse .nav li::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            display: inline-block;
            background-color: #000;
            -webkit-transition: ease-in-out .2s;
            -o-transition: ease-in-out .2s;
            transition: ease-in-out .2s;
          }
          .topo .menu-principal .navbar .navbar-collapse .nav li:hover::before{
            height: 36px;
          }
            .topo .menu-principal .navbar .navbar-collapse .nav li a{
              padding: 0;
              text-decoration: none;
              color: #717171;
              font-family: 'Open Sans', sans-serif;
              text-transform: uppercase;
              font-weight: 700;
              font-size: 18px;
              padding: 8px 22px;
              margin: 0 auto;
              -webkit-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
              transition: ease-in-out .2s;
            }
            .topo .menu-principal .navbar .navbar-collapse .nav li:hover a{
              color: #fff;
            }
    .nav>li>a:hover, .nav>li>a:focus {
      text-decoration: none;
      background-color: transparent;
    }
    .navbar-header {
      float: left;
      float: initial;
    }

/*RODAPÉ*/
  footer{
    padding: 50px 0 25px;
  }
    footer .rodape{

    }
    footer .copyright{

    }
      footer .copyright .rede-social-footer{
        text-align: center;
        font-size: 0;
        margin: 0;
      }
        footer .copyright .rede-social-footer li{
          display: inline-block;
        }
          footer .copyright .rede-social-footer li a{
            text-decoration: none;
            color: #717171;
            font-size: 20px;
            padding: 0 5px;
          }
            footer .copyright .rede-social-footer li a i{
              -webkit-transition: ease-in-out .1s;
              -o-transition: ease-in-out .1s;
              transition: ease-in-out .1s;
            }
            footer .copyright .rede-social-footer li a i:hover{
              -webkit-transform: scale(1.3);
              -ms-transform: scale(1.3);
              -o-transform: scale(1.3);
              transform: scale(1.3);
            }
      footer .copyright p{
        text-align: center;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        margin: 0 auto;
        color: #717171;
        font-size: 24px;
      }

/*COPYRIGHT*/
  .copyright{

  }

/*PG*/
  .pg{

  }
    .pg .instagram{
      padding: 20px 0 0;
    }
      .pg .instagram .titulo-imagem{
        text-align: center;
      }
        .pg .instagram .titulo-imagem img{
          display: inline-block;
          width: 100%;
          max-width: 46px;
        }
        .pg .instagram .titulo-imagem h3{
          display: inline-block;
          font-size: 38px;
          vertical-align: middle;
          font-weight: 700;
          font-family: 'Open Sans', sans-serif;
          color: #717171;
          padding-left: 10px;
        }
      .pg .btnContato{
        width: 100%;
        max-width: 545px;
        margin: 0 auto;
        text-align: center;
        position: relative;
      }
        .pg .btnContato a{
          text-decoration: none;
          text-transform: uppercase;
          font-size: 35px;
          font-weight: 700;
          color: #fff;
          background-color: #717171;
          width: 100%;
          text-align: center;
          border-radius: 40px;
          padding: 14px 92px;
          margin: 0 auto;
          border: 3px solid transparent;
          -webkit-transition: ease-in-out .2s;
          -o-transition: ease-in-out .2s;
          transition: ease-in-out .2s;
        }
        .pg .btnContato:hover a{
          color: #717171;
          background-color: #fff;
          border-color: #717171; 
        }

/*PÁGINA INICIAL*/
  .pg-inicial{

  }
    .pg-inicial .destaque-inicial{
      background-color: #717075;
      min-height: 100vh;
    }
    .pg-inicial .texto{
      position: absolute;
      top: 135px;
      left: 100px;
      z-index: 2;
    }
      .pg-inicial .texto p{
        text-transform: uppercase;
        color: #fff;
        font-size: 32px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
      }
        .pg-inicial .texto p strong{
          font-weight: 800;
        }
        .pg-inicial .texto p span{
          font-size: 74px;
          letter-spacing: 58px;
        }
    .pg-inicial .carrosselDestaque{ 
    
    }
      .pg-inicial .carrosselDestaque .btnCarrossel{

      }
        .pg-inicial .carrosselDestaque .btnCarrossel button{
          background: transparent;
          border: none;
          position: absolute;
          top: 50%;
          z-index: 1;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        .pg-inicial .carrosselDestaque .btnCarrossel button.flecha-esquerda{
          left: 20px;
        }
        .pg-inicial .carrosselDestaque .btnCarrossel button.flecha-direita{
          right: 20px;
        }
          .pg-inicial .carrosselDestaque .btnCarrossel button img{
            width: 100%;
            max-width: 60px;
          }
      .pg-inicial .carrosselDestaque .item{ 
        min-height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
        .pg-inicial .carrosselDestaque .item a{ 
    
        }
          .pg-inicial .carrosselDestaque .item a img{ 
            display: none;
          }
      .pg-inicial .carrosselDestaque .owl-controls{
        position: absolute;
        bottom: 105px;
        left: -430px;
      }
        .pg-inicial .carrosselDestaque .owl-controls .owl-dots{

        }
          .pg-inicial .carrosselDestaque .owl-controls .owl-dots .owl-dot{
            display: inline-block;
            margin-right: 5px;
          }
          .pg-inicial .carrosselDestaque .owl-controls .owl-dots .owl-dot.active{

          }
            .pg-inicial .carrosselDestaque .owl-controls .owl-dots .owl-dot span{
              display: block;
              width: 80px;
              height: 2px;
              background-color: #fff;
              -webkit-transition: ease-in-out .3s;
              -o-transition: ease-in-out .3s;
              transition: ease-in-out .3s;
            }
            .pg-inicial .carrosselDestaque .owl-controls .owl-dots .owl-dot.active span{
              display: block;
              width: 80px;
              height: 30px;
              background-color: #fff;
            }

    .pg-inicial .projetos{

    }
      .pg-inicial .projetos ul{
        width: 100%;
        text-align: center;
        font-size: 0;
      }
        .pg-inicial .projetos ul .projeto{
          list-style: none;
        }
          .pg-inicial .projetos ul .projeto li{
            display: inline-block;
            list-style: none;
            margin: 58px auto 0;
            width: 100%;
            max-width: 24%;
          }
            .pg-inicial .projetos ul .projeto li img{
              width: 100%;
              max-width: 87%;
            }
    .pg-inicial .secao-servicos{

    }
      .pg-inicial .secao-servicos ul{
       margin: 62px auto;
       text-align: center;
       font-size: 0;
      }
        .pg-inicial .secao-servicos ul li{
          display: inline-block;
          width: 100%;
          max-width: 24%;
          vertical-align: bottom;
          position: relative;
          min-height: 173px;
        }
          .pg-inicial .secao-servicos ul li .servico-inicial{
            width: 100%;
            max-width: 87%;
            margin: 0 auto;
            box-shadow: 0 0 20px -2px;
            padding: 40px 0;
            -webkit-transition: ease-in-out .1s;
            -o-transition: ease-in-out .1s;
            transition: ease-in-out .1s;
            min-height: 100%;
          }
          .pg-inicial .secao-servicos ul li:hover .servico-inicial{
            opacity: 0;
          }
          .pg-inicial .secao-servicos ul li:hover .servico-hover{
            /* display: block; */
            opacity: 1;
          }
            .pg-inicial .secao-servicos ul li:hover .servico-hover a{
              text-decoration: none;
            }
            .pg-inicial .secao-servicos ul li .servico-inicial img{
              width: 100%;
              max-width: 60px;
            }
            .pg-inicial .secao-servicos ul li .servico-inicial p{
              margin: 0;
              font-size: 23px;
              color: #717171;
              font-weight: 700;
              font-family: 'Open Sans', sans-serif;
            }
          .pg-inicial .secao-servicos ul li .servico-hover{
            width: 100%;
            max-width: 87%;
            margin: 0 auto;
            box-shadow: 0 0 20px -2px;
            padding: 16px 23px;
            text-align: justify;
            /* display: none; */
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            -webkit-transition: ease-in-out .1s;
            -o-transition: ease-in-out .1s;
            transition: ease-in-out .1s;
            min-height: 100%;
          }
            .pg-inicial .secao-servicos ul li .servico-hover .titulo{
             margin: 0;
             font-size: 18px;
             font-weight: 700;
             display: inline-block;
             color: #717171;
             font-family: 'Open Sans', sans-serif;
             padding-right: 8px;
             vertical-align: middle;
            }
            .pg-inicial .secao-servicos ul li .servico-hover img{
              width: 100%;
              max-width: 32px;
              display: inline-block;
              vertical-align: bottom;
            }
            .pg-inicial .secao-servicos ul li .servico-hover .texto-servico{
              margin: 0;
              font-size: 13px;
              text-align: initial;
              font-family: 'Open Sans', sans-serif;
              color: #717171;
              font-weight: 100;
              min-height: 85px;
              padding: 8px 0px 6px;
              line-height: 13px;
            }
            .pg-inicial .secao-servicos ul li .servico-hover .btnSaibaMais{
              background-color: #717171;
              width: 100%;
              max-width: 142px;
              border-radius: 20px;
              padding: 4px 0;
            }
              .pg-inicial .secao-servicos ul li .servico-hover .btnSaibaMais a{
                text-decoration: none;
                font-size: 11px;
                text-transform: uppercase;
                color: #fff;
                text-align: center;
                display: block;
                font-weight: 600;
                font-family: 'Open Sans', sans-serif;
                letter-spacing: 2px;
              }

/* PG SOBRE */
  .pg-sobre{

  }
    .pg-sobre .sobre{

    }
      .pg-sobre .sobre .texto-imagem{

      }
        .pg-sobre .sobre .texto-imagem .col-mobile{
          display: none;
        }
        .pg-sobre .sobre .texto-imagem figure{

        }
          .pg-sobre .sobre .texto-imagem figure img{
            width: 100%;
            max-width: 515px;
            margin: 0 auto;
            display: block;
          }
        .pg-sobre .sobre .texto-imagem .texto{
          color: #717171;
          width: 100%;
          max-width: 740px;
          padding: 28px 0 0;
        }
          .pg-sobre .sobre .texto-imagem .texto h4{
            font-size: 45px;
            font-weight: 700;
          }
          .pg-sobre .sobre .texto-imagem .texto p{
            font-size: 22px;
          }
          .pg-sobre .sobre .texto-imagem .texto .btnEntreEmContato{
            background-color: #000;
            width: 100%;
            max-width: 300px;
            border-radius: 8px;
            text-align: center;
            padding: 5px 0;
            margin: 25px auto 0 0;
          }
            .pg-sobre .sobre .texto-imagem .texto .btnEntreEmContato a{
              text-decoration: none;
              font-size: 18px;
              text-transform: uppercase;
              font-weight: 100;
              letter-spacing: 2px;
              color: #fff;
            }
      .pg-sobre .sobre .conhecao-portfolio{
        background-color: #717171;
        width: 100%;
        max-width: 605px;
        text-align: center;
        margin: 65px auto 40px;
        display: block;
        padding: 20px 0;
        border-radius: 50px;
      }
        .pg-sobre .sobre .conhecao-portfolio a{
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 38px;
          color: #fff;
        }

/* PG SERVIÇOS */
  .pg-servicos{

  }
    .pg-servicos .servicos{

    }
      .pg-servicos .servicos .servico{
        width: 100%;
        max-width: 405px;
        margin: 45px auto 20px;
        color: #717171;
        min-height: 380px;
      }
        .pg-servicos .servicos .servico .img-titulo{

        }
          .pg-servicos .servicos .servico .img-titulo img{
            display: inline-block;
            width: 100%;
            max-width: 100px;
          }
          .pg-servicos .servicos .servico .img-titulo h2{
            display: inline-block;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 28px;
          }
        .pg-servicos .servicos .servico .texto{

        }
          .pg-servicos .servicos .servico .texto p{
            font-size: 18px;
            line-height: 20px;
          }
          .pg-servicos .servicos .servico .texto ul{
           margin: 25px auto 0;
           width: 100%;
           max-width: 360px;
         }
            .pg-servicos .servicos .servico .texto ul li{
              list-style: inside;
              font-size: 19px;
            }  

/* PG PORTFOLIO */
  .pg-portfolio{

  }
    .pg-portfolio .destaque{

    }
      .pg-portfolio .destaque h1{
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-size: 70px;
        color: #717171;
        padding: 85px 0;
        margin: 0;
      }
    .pg-portfolio .portfolio{

    }
      .pg-portfolio .portfolio .btnAbrirMenuCategorias{
        display: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #fff;
        background-color: #717171;
        width: 100%;
        max-width: 80%;
        margin: 0 auto 6px;
        border-radius: 30px;
        padding: 5px 0;
        cursor: pointer;
      }
      .pg-portfolio .portfolio .indice{
        text-align: center;
        font-size: 0;
        margin: 0;
        padding: 0 0 50px;
      }
        .pg-portfolio .portfolio .indice li{
          list-style: none;
          display: inline-block;
          padding: 2px 45px;
          text-transform: uppercase;
          font-size: 24px;
          font-weight: 600;
          color: #fff;
          background-color: #717171;
          border-radius: 26px;
          margin: 0px 7px;
          cursor: pointer;
        }
      .pg-portfolio .portfolio .indice-desktop{

      }
        .pg-portfolio .portfolio .indice-desktop li{

        }
      .pg-portfolio .portfolio .indice-mobile{
        display: none;
        position: fixed;
        width: 100%;
        max-width: 355px;
        height: 100vh;
        top: 0;
        left: -200%;
        padding: 57px 0 0;
        background-color: #717171;
        -webkit-transition: ease-in-out .3s;
        -o-transition: ease-in-out .3s;
        transition: ease-in-out .3s;
        z-index: 2;
      }
      .pg-portfolio .portfolio .indice-mobile.abrir{
        left: 0;
      }
      .pg-portfolio .portfolio .lente{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #000;
        opacity: .5;
        display: none;
        z-index: 1;
      }
        .pg-portfolio .portfolio .indice-mobile li{
          display: block;
          border-bottom: 2px solid #fff;
          width: 100%;
          max-width: 95%;
          margin: 0 auto;
          padding: 8px 0 !important;
          font-size: 18px !important;
        }
      .pg-portfolio .portfolio .indice-mobile span{
        display: inline-block;
        font-size: 27px;
        text-align: right;
        width: 100%;
        max-width: 95%;
        padding: 7px 0 0;
        color: #fff;
        font-weight: 100;
        cursor: pointer;
      }
      .pg-portfolio .portfolio .lista-projetos{

      }
        .pg-portfolio .portfolio .lista-projetos ul{
          font-size: 0;
          text-align: center;
          margin: 0 auto 55px;
        }
          .pg-portfolio .portfolio .lista-projetos ul li{
            list-style: none;
            display: inline-block;
            width: 100%;
            max-width: 33%;
            padding: 0 8px;
            position: relative;
            cursor: pointer;
          }
            .pg-portfolio .portfolio .lista-projetos ul li img{
              width: 100%;
              max-width: 436px;
            }
            .pg-portfolio .portfolio .lista-projetos ul li .lente-projeto{
              position: absolute;
              top: 50%;
              left: 50%;
              display: block;
              -webkit-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
              -o-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
              width: 0;
              height: 100%;
              max-width: 436px;
              background-color: #000;
              opacity: .4;
              -webkit-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
              transition: ease-in-out .2s;
            }
            .pg-portfolio .portfolio .lista-projetos ul li:hover .lente-projeto{
              width: 100%;
            }
            .pg-portfolio .portfolio .lista-projetos ul li .txt-btn{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              -webkit-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
              -o-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
              width: 100%;
              max-width: 436px;
              height: 100%;
              padding: 64px 0;
              opacity: 0;
              -webkit-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
              transition: ease-in-out .2s;
            }
            .pg-portfolio .portfolio .lista-projetos ul li:hover .txt-btn{
              opacity: 1;
            }
              .pg-portfolio .portfolio .lista-projetos ul li .txt-btn p{
                margin: 0;
                font-size: 32px;
                color: #fff;
                font-weight: 700;
              }
              .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais{
                width: 100%;
                max-width: 175px;
                margin: 8px auto 0;
                border: 3px solid #fff;
                padding: 3px 0;
                -webkit-transition: ease-in-out .2s;
                -o-transition: ease-in-out .2s;
                transition: ease-in-out .2s;
              }
              .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais:hover{
                background-color: #fff;
              }
                .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais a{
                  font-size: 24px;
                  color: #fff;
                  text-decoration: none;
                  text-transform: capitalize;
                  font-weight: 700;
                  -webkit-transition: ease-in-out .1s;
                  -o-transition: ease-in-out .1s;
                  transition: ease-in-out .1s;
                }
                .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais:hover a{
                  color: #000;
                }

/* PG CONTATO */
  .pg-contato{

  }
    .pg-contato .contato{
      margin: 20px auto;
    }
      .pg-contato .contato .form{
        color: #717171;
        width: 100%;
        max-width: 93%;
      }
        .pg-contato .contato .form label{
          display: block;
          font-size: 24px;
          margin: 0;
          padding: 13px 0;
          font-weight: 600;
        }
        .pg-contato .contato .form input{
          display: block;
          width: 100%;
          /* max-width: 670px; */
          padding: 10px 12px;
          border: 2px solid #9c9c9e;
        }
        .pg-contato .contato .form input::placeholder,
        .pg-contato .contato .form textarea::placeholder{
          font-size: 16px;
          font-style: italic;
          font-weight: 400;
          color: #adadad;
        }
        .pg-contato .contato .form input[type="submit"]{
          max-width: 50%;
          border: none;
          background-color: #717171;
          padding: 6px 0;
          border-radius: 8px;
          color: #fff;
          text-transform: uppercase;
          font-size: 18px;
          letter-spacing: 4px;
          font-weight: 100;
          margin: 18px 0px auto 0;
        }
        .pg-contato .contato .form textarea{
          display: block;
          width: 100%;
          min-height: 168px;
          padding: 10px 12px;
          border: 2px solid #9c9c9e;
        }
      .pg-contato .contato .info-contato{
        color: #717171;
            padding: 44px 0 0;
      }
        .pg-contato .contato .info-contato h4{
          font-size: 21px;
          font-weight: 600;
        }
        .pg-contato .contato .info-contato p{
          margin: 0;
          font-size: 21px;
          font-weight: 600;
        }
        .pg-contato .contato .info-contato .endereco{
          padding: 10px 0 17px;
        }
          .pg-contato .contato .info-contato .endereco p{

          }
        .pg-contato .contato .info-contato .email-fone{
          
        }
          .pg-contato .contato .info-contato .email-fone p{
            padding: 20px 0 20px 100px;
            margin: 0 auto 16px;
            font-size: 27px;
            font-weight: 700;
          }
          .pg-contato .contato .info-contato .email-fone .email{
            position: relative;
          }
          .pg-contato .contato .info-contato .email-fone .email::before{
            content: "";
            background-image: url(../img/message-contato.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 14px;
            width: 49px;
            height: 34px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
          .pg-contato .contato .info-contato .email-fone .email::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 78px;
            height: 77px;
            display: inline-block;
            border: 4px solid #717171;
            border-radius: 100%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
          .pg-contato .contato .info-contato .email-fone .telefone{
            position: relative;
          }
          .pg-contato .contato .info-contato .email-fone .telefone::before{
            content: "";
            background-image: url('../img/phone-contato.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 19px;
            width: 40px;
            height: 40px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
          .pg-contato .contato .info-contato .email-fone .telefone::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 78px;
            height: 77px;
            display: inline-block;
            border: 4px solid #717171;
            border-radius: 100%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }

/* PG PROJETO */
  .pg-projeto{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6392156862745098);
    display: none;
  }
    .pg-projeto .secao-projeto{
      position: relative;
    }
      .pg-projeto .secao-projeto .voltar{
        position: absolute;
        top: 0;
        left: 62px;
        display: inline-block;
      }
        .pg-projeto .secao-projeto .voltar span{
          font-size: 35px;
          cursor: pointer;
          color: #fff;
        }
          .pg-projeto .secao-projeto .voltar span i{

          }
      .pg-projeto .secao-projeto h3{
        text-align: center;
        text-transform: capitalize;
        font-size: 32px;
        padding: 0 0 5px;
        color: #fff;
      }
      .pg-projeto .secao-projeto .fotos-projeto{
        padding: 0 10px;
      }
        .pg-projeto .secao-projeto .fotos-projeto .principal{
          width: 100%;
          max-width: 700px;
          margin: 0 auto;
          padding: 0 10px;
          min-height: 452px;
        }
          .pg-projeto .secao-projeto .fotos-projeto .principal img{
            width: 100%;
          }
        .pg-projeto .secao-projeto .fotos-projeto .carrossel{

        }
          .pg-projeto .secao-projeto .fotos-projeto .carrossel .menor{
            font-size: 0;
            text-align: center;
            margin: 20px auto;
            /* padding: 0 8px; */
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 186px;
            width: 100%;
            max-width: 300px;
            box-shadow: inset 0 0 0px 7px #fff;
            -webkit-box-shadow: inset 0 0 0px 7px #fff;
          }
            .pg-projeto .secao-projeto .fotos-projeto .carrossel .menor img{
              width: 100%;
              max-width: 280px;
              margin: 0 auto;
              display: none;
            }

/*EXTRAS*/
  .containerFull{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .containerServicos{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }

/*@MEDIA QUERY*/
  @media(max-width: 1200px){
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais {
      max-width: 135px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais a {
      font-size: 20px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn p {
      font-size: 25px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn {
      padding: 45px 0;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .lente-projeto {
      max-width: 324px;
    }
    .pg-inicial .secao-servicos ul li .servico-inicial p {
      font-size: 18px;
    }
    .pg-inicial .texto p span {
      font-size: 62px;
      letter-spacing: 48px;
    }
    .pg-inicial .texto p {
      font-size: 28px;
    }
    .pg-inicial .texto {
      top: 122px;
      left: 92px;
    }
    .containerFull {
      max-width: 1030px;
    }
    .topo .menu-principal .navbar .navbar-collapse .nav li a {
      font-size: 16px;
    }
    .topo .menu-principal {
      padding: 10px 0;
    }
    .topo .menu-principal a {
      margin: 8px auto 0;
      display: block;
    }
    .topo .menu-principal a img {
      max-width: 210px;
    }
    .pg-sobre .sobre .texto-imagem .texto {
      max-width: 95%;
      padding: 18px 0;
      margin: 0 auto;
    }
    .pg-contato .contato .form input[type="submit"] {
      max-width: 240px;
      font-size: 14px;
      letter-spacing: 4px;
    }
    .pg-inicial .secao-servicos ul li .servico-hover img {
      max-width: 23px;
      vertical-align: top;
    }
    .pg-inicial .secao-servicos ul li .servico-hover .titulo {
      font-size: 15px;
      padding-right: 0px;
    }
    .pg-inicial .secao-servicos ul li .servico-hover {
      padding: 16px 12px;
      min-height: 100%;
    }
    .pg-inicial .secao-servicos ul li {
      min-height: 166px;
    }
  }

  @media(max-width: 1100px){
    .pg-sobre .sobre .texto-imagem .texto p {
      font-size: 20px;
    }
    .pg-sobre .sobre .texto-imagem .texto h4 {
      font-size: 40px;
    }
    .pg-contato .contato .info-contato .email-fone p {
      padding: 20px 0 20px 82px;
      font-size: 24px;
    }
    .pg-contato .contato .info-contato .email-fone .email::before {
      left: 15px;
      width: 40px;
      height: 28px;
    }
    .pg-contato .contato .info-contato .email-fone .email::after {
      width: 70px;
      height: 68px;
    }
    .pg-contato .contato .info-contato .email-fone .telefone::before {
      left: 19px;
      width: 35px;
      height: 35px;
    }
    .pg-contato .contato .info-contato .email-fone .telefone::after {
      width: 70px;
      height: 68px;
    }
    .pg-contato .contato .info-contato h4 {
      font-size: 19px;
    }
    .pg-contato .contato .info-contato p {
      font-size: 18px;
    }
  }

  @media(max-width: 991px){
    .pg-projeto .secao-projeto .fotos-projeto {
      padding: 0 37px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .lente-projeto {
      max-width: 310px;
    }
    .pg-inicial .secao-servicos ul li .servico-hover {
      padding: 30px 12px;
      min-height: 100%;
    }
    .pg-inicial .secao-servicos ul li .servico-hover img {
      display: none;
    }
    .pg-inicial .secao-servicos ul li{
      min-height: 192px;
    }
    .topo .menu-principal {
      padding: 10px 0 0;
    }
    .topo .menu-principal a {
      text-align: center;
    }
    .topo .menu-principal .navbar .navbar-collapse .nav {
      text-align: center;
    }
    .topo .menu-contato {
      padding: 5px 15px;
    }
    .pg-sobre .sobre .texto-imagem .col-mobile{
      display: block;
    }
    .pg-sobre .sobre .texto-imagem .col-desktop{
      display: none;
    }
    .pg-sobre .sobre .texto-imagem .texto {
      max-width: 668px;
    }
    .pg-sobre .sobre .texto-imagem .texto .btnEntreEmContato {
      margin: 25px auto 0;
    }
    .pg-sobre .sobre .texto-imagem .texto {
      padding: 24px 10px;
    }
    .pg-servicos .servicos .servico {
      padding: 0 15px;
    }
    .pg-contato .contato .form input[type="submit"] {
      max-width: 270px;
      font-size: 15px;
    }
    .pg-contato .contato .form {
      max-width: 95%;
      margin: 0 auto;
    }
    .pg-contato .contato .info-contato {
      width: 100%;
      max-width: 492px;
      margin: 0 auto;
      text-align: center;
    }
    .pg-contato .contato .info-contato .email-fone .telefone{
      text-align: initial;
    }
    .pg-contato .contato .info-contato .email-fone .email{
      text-align: initial;
    }
    .pg-portfolio .portfolio .indice li {
      padding: 2px 40px;
      font-size: 20px;
    }
    .pg .btnContato {
      max-width: 500px;
      padding: 14px 0;
    }
    .pg .btnContato a {
      font-size: 30px;
    }
  }

  @media(max-width: 820px){
    .pg-portfolio .portfolio .indice li {
      padding: 2px 27px;
      font-size: 17px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais a {
      font-size: 16px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais {
      max-width: 122px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn p {
      font-size: 20px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .lente-projeto {
      max-width: 250px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn {
      padding: 30px 0;
    }
  }

  @media(max-width: 768px){
    .pg-projeto .secao-projeto .fotos-projeto .principal {
      max-width: 600px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .lente-projeto {
      max-width: 360px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn p {
      font-size: 28px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais {
      max-width: 142px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais a {
      font-size: 24px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn {
      padding: 44px 0;
    }
    .pg-inicial .secao-servicos ul li .servico-hover {
      padding: 18px 12px;
    }
    .pg-inicial .carrosselDestaque .btnCarrossel {
      display: none;
    }
    .topo .menu-principal .navbar button{
      display: block;
    }
    .pg-inicial .texto p span {
      font-size: 68px;
      letter-spacing: 48px;
    }
    .pg-inicial .texto p {
      font-size: 30px;
    }
    .pg-inicial .texto {
      top: 55px;
      left: 56px;
    }
    .pg-inicial .carrosselDestaque .item {
      min-height: 70vh;
    }
    .pg-inicial .destaque-inicial {
      min-height: 70vh;
    }
    .topo .menu-contato .rede-social {
      text-align: center;
    }
    .topo .menu-contato .contato {
      text-align: center;
      padding: 0 0 5px;
    }
    .topo .menu-principal .navbar .navbar-collapse .nav {
      padding: 10px 0 5px;
    }
    .pg-inicial .projetos ul .projeto li {
      max-width: 45%;
    }
    .pg-inicial .secao-servicos ul li {
      max-width: 45%;
      margin: 0 auto 35px;
    }
    .pg-inicial .secao-servicos ul li {
      min-height: initial;
    }
    .pg .instagram .titulo-imagem img {
      max-width: 40px;
    }
    .pg .instagram .titulo-imagem h3 {
      font-size: 30px;
    }
    .pg-inicial .secao-servicos ul {
      margin: 62px auto 0px;
    }
    .pg-sobre .sobre .texto-imagem figure {
      padding: 0 10px;
    }
    .pg-servicos .servicos .servico .texto ul {
      margin: 25px auto 0;
      width: 100%;
      max-width: 85%;
    }
    .pg-servicos .servicos .servico {
      padding: 0 10px;
      width: 100%;
      max-width: 95%;
      margin: 40px auto 30px;
      min-height: initial;
    }
    .pg-portfolio .portfolio .lista-projetos ul li {
      max-width: 50%;
      margin: 15px auto 0px;
    }
    .pg-portfolio .portfolio .indice {
      padding: 0 0 26px;
    }
    .pg-portfolio .portfolio .indice-mobile{
      display: block;
    }
    .pg-portfolio .portfolio .indice-desktop{
      display: none;
    }
    .pg-portfolio .portfolio .btnAbrirMenuCategorias{
      display: block;
    }
  }

  @media(max-width: 620px){
    .pg-projeto .secao-projeto h3 {
      padding: 0 0 12px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .lente-projeto {
      max-width: 292px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn {
      padding: 34px 0;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn p {
      font-size: 25px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais {
      max-width: 140px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais a {
      font-size: 19px;
    }
    .pg-inicial .texto p {
      font-size: 26px;
    }
    .pg-inicial .texto p span {
      font-size: 62px;
      letter-spacing: 28px;
    }
    .topo .menu-principal .navbar .navbar-collapse .nav li a {
      font-size: 14px;
      padding: 8px 12px;
    }
    .topo .menu-contato {
      display: none;
    }
    .pg-portfolio .destaque h1 {
      font-size: 52px;
      padding: 65px 0;
    }
    .pg-projeto .secao-projeto .info-projeto {
      font-size: 25px;
    }
    .pg-projeto .secao-projeto .voltar {
      top: -10px;
      left: 15px;
    }
  }

  @media(max-width: 600px){
    .pg-sobre .sobre .texto-imagem .texto p {
      font-size: 18px;
    }
    .pg-sobre .sobre .texto-imagem .texto h4 {
      font-size: 34px;
    }
    .pg-sobre .sobre .conhecao-portfolio {
      max-width: 95%;
      padding: 14px 0;
    }
    .pg-sobre .sobre .conhecao-portfolio a {
      font-size: 30px;
    }
    .pg-sobre .sobre .texto-imagem figure img {
      max-width: 400px;
    }
    .pg-projeto .secao-projeto .info-projeto {
      padding: 0 0 5px;
      margin: 0;
      padding: 45px 0 10px;
    }
    .pg-projeto .secao-projeto .voltar {
      top: 0;
      left: 15px;
    }
  }

  @media(max-width: 540px){
    .pg-portfolio .portfolio .lista-projetos ul li .lente-projeto {
      max-width: 250px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn p {
      font-size: 22px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais a {
      font-size: 17px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais {
      max-width: 130px;
    }
    .pg-contato .contato .form label {
      font-size: 20px;
    }
    .pg-servicos .servicos .servico .texto ul li {
      font-size: 18px;
    }
    .pg-servicos .servicos .servico .texto p {
      font-size: 17px;
    }
    .pg-servicos .servicos .servico .img-titulo h2 {
      font-size: 25px;
    }
    .pg-servicos .servicos .servico .img-titulo img {
      max-width: 90px;
    }
    .pg .btnContato {
      max-width: 95%;
      padding: 10px 0;
    }
    .pg .btnContato a {
      font-size: 28px;
    }
    .pg-inicial .secao-servicos ul li .servico-inicial {
      min-height: 192px;
    }
    .pg-inicial .secao-servicos ul li .servico-hover {
      min-height: 192px;
    }
    .pg-inicial .texto {
      top: 29px;
      left: 28px;
      width: 100%;
      max-width: 400px;
    }
    .pg-inicial .carrosselDestaque .item {
      min-height: 50vh;
    }
    .pg-inicial .destaque-inicial {
      min-height: 50vh;
    }
    .pg .instagram .titulo-imagem h3 {
      font-size: 27px;
      padding-left: 5px;
    }
    .pg .instagram .titulo-imagem img {
      max-width: 38px;
    }
    .pg .instagram .titulo-imagem {
      padding: 0 10px;
    }
    footer .copyright .rede-social-footer li a {
      font-size: 17px;
    }
    footer .copyright p {
      font-size: 20px;
    }
    .pg-contato .contato .info-contato {
      max-width: 418px;
    }
    .pg-contato .contato .info-contato .email-fone p {
      font-size: 20px;
    }
    .pg-contato .contato .info-contato h4 {
      font-size: 18px;
    }
    .pg-contato .contato .info-contato p {
      font-size: 17px;
    }
    .pg-projeto .secao-projeto .voltar span {
      font-size: 28px;
    }
  }

  @media(max-width: 445px){
    .pg-projeto .secao-projeto h3 {
      font-size: 26px;
    }
    .pg-inicial .texto p span {
      font-size: 47px;
      letter-spacing: 28px;
    }
    .pg-inicial .texto p {
      font-size: 22px;
    }
    .topo .menu-principal a img {
      max-width: 170px;
    }
    .pg-sobre .sobre .texto-imagem .texto h4 {
      font-size: 30px;
      text-align: center;
    }
    .pg-sobre .sobre .conhecao-portfolio a {
      font-size: 25px;
    }
    .pg-contato .contato .info-contato {
      padding: 44px 10px 0;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .lente-projeto {
      max-width: 208px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn {
      padding: 24px 0;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn p {
      font-size: 17px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais {
      max-width: 97px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais a {
      font-size: 14px;
    }
  }

  @media(max-width: 425px){
    .pg-projeto .secao-projeto h3 {
      font-size: 20px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .lente-projeto {
      max-width: 97%;
    }
    .pg-portfolio .portfolio .lista-projetos ul li {
      max-width: 100%;
      margin: 15px auto 0px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais a {
      font-size: 20px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais {
      max-width: 134px;
      padding: 2px 0;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn {
      padding: 45px 0;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn {
      padding: 52px 0;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn p {
      font-size: 26px;
    }
    .pg-contato .contato .info-contato .email-fone .telefone {
      text-align: center;
      position: initial;
    }
    .pg-contato .contato .info-contato .email-fone .email {
      text-align: center;
      position: initial;
    }
    .pg-contato .contato .info-contato .email-fone p {
      padding: 5px 0 5px 0;
      font-size: 18px;
      margin: 0;
    }
    .pg-contato .contato .info-contato .email-fone .telefone::before,
    .pg-contato .contato .info-contato .email-fone .telefone::after,
    .pg-contato .contato .info-contato .email-fone .email::before,
    .pg-contato .contato .info-contato .email-fone .email::after{
      display: none;
    }
    .pg-contato .contato .form textarea {
      min-height: 140px;
    }
    .pg-servicos .servicos .servico .texto ul {
      max-width: 95%;
    }
    .pg-servicos .servicos .servico .img-titulo img {
      max-width: 78px;
    }
    .pg .btnContato a {
      font-size: 22px;
    }
    .pg-inicial .texto {
      top: 52px;
      left: 20px;
      width: 100%;
      max-width: 283px;
    }
    .pg-inicial .texto p span {
      letter-spacing: 19px;
    }
    .topo .menu-principal .navbar .navbar-collapse .nav li a {
      text-align: left;
    }
    .topo .menu-principal .navbar .navbar-collapse .nav li {
      display: block;
    }
    .pg-inicial .secao-servicos ul li {
      max-width: 100%;
      margin: 0 auto 35px;
    }
    .pg-inicial .secao-servicos ul li .servico-inicial {
      min-height: initial;
    }
    .pg-inicial .secao-servicos ul li .servico-hover{
      min-height: initial;
    }
    .pg-sobre .sobre .conhecao-portfolio {
      max-width: 95%;
      padding: 10px 0;
    }
    .pg-sobre .sobre .conhecao-portfolio a {
      font-size: 18px;
    }
    .pg-portfolio .portfolio .btnAbrirMenuCategorias {
      font-size: 18px;
    }
    .pg-portfolio .destaque h1 {
      font-size: 45px;
      padding: 45px 0;
    }
  }

  @media(max-width: 320px){
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais a {
      font-size: 18px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn .btnVerMais {
      max-width: 126px;
      padding: 2px 0;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn p {
      font-size: 23px;
    }
    .pg-portfolio .portfolio .lista-projetos ul li .txt-btn {
      padding: 47px 0;
    }
    .pg-contato .contato .form input[type="submit"] {
      margin: 18px auto 0;
    }
    .pg-inicial .texto p span {
      letter-spacing: 10px;
    }
    .pg-inicial .texto {
      max-width: 240px;
    }
    .pg-inicial .texto p {
      font-size: 18px;
    }
    .pg .btnContato a {
      font-size: 20px;
    }
    .pg-servicos .servicos .servico .texto ul li {
      font-size: 16px;
    }
    .pg-servicos .servicos .servico .img-titulo h2 {
      font-size: 19px;
    }
    .pg-servicos .servicos .servico .img-titulo img {
      max-width: 62px;
    }
    .pg .btnContato {
      padding: 7px 0;
    }
  }
